.container {
  position: absolute;
  color: #fff;
  height: 100%;
  width: 100%;
  perspective: 1000px;
}
.box {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50px;
  left: 120px;
  transform-style: preserve-3d;
  animation: animate 5s infinite;
}

.box div {
  height: 180px;
  width: 180px;
  text-align: center;
  padding: 60px 0px;
  color: #fff;
  background-color: black;
  border: 1px solid white;
  font-size: 32px;
  position: absolute;
}

.Left {
  right: 125px !important;
  transform: rotateY(-90deg);
  animation: Left 5s infinite;
}

.Right {
  left: 125px !important;
  transform: rotateY(90deg);
  animation: Right 5s infinite;
}

.Top {
  bottom: 125px !important;
  transform: rotateX(90deg);
  animation: Top 5s infinite;
}

.Bottom {
  top: 125px !important;
  transform: rotateX(-90deg);
  animation: Bottom 5s infinite;
}

.Front {
  transform: translateZ(90px);
}

.Back {
  transform: translateZ(-90px);
}

.box:hover .Left {
  right: 90px !important;
  color: #ffb400 !important;
}
.box:hover .Right {
  left: 90px !important;
  color: #ffb400 !important;
}
.box:hover .Top {
  bottom: 90px !important;
  color: #ffb400 !important;
}
.box:hover .Bottom {
  top: 90px !important;
  color: #ffb400 !important;
}
.box:hover .Front {
  color: #ffb400 !important;
}
.box:hover .Back {
  color: #ffb400 !important;
}

@keyframes animate {
  0% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
  25% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  50% {
    transform: rotateX(45deg) rotateY(45deg);
  }
  75% {
    transform: rotateX(-45deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
}
