.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 50px 0px 50px 0px;
  font-size: 2em;
}
.title span {
  color: #ffb400;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  margin: 20px;
}

@media (max-width: 1140px) {
  .container {
    width: 100%;
    padding-bottom: 100px;
  }

  .title {
    font-size: 1em;
    padding: 25px 0px 25px 0px;
  }
  .content {
    justify-content: center;
  }
}
